body {
    height: 100vh;
    background-color: #000000;
}

:root {
    --conic-gradient: conic-gradient(
        #00FFD4,
        #EC035E,
        #FF5E00,
        #FFCD19,
        #00FFD4
    );
    --conic-gradient2: conic-gradient(
        #FFFFFF,
        transparent,
        transparent,
        transparent,
        #FFFFFF
    );
}

.newCluster {
    width: 100%;
    height: 11.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 768px) {
        height: auto;
    }

    .flexBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2%;
        position: relative;
        @media (max-width: 768px) {
            flex-wrap: no-wrap;
            overflow-x: scroll;
            justify-content: flex-start;
            gap: 5vw;
            padding: 0 5%;
        }

        .btnNeonColor {
            width: 30vw;
            height: 9vw;
            position: relative;
            border-radius: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                min-width: 75vw;
                height: 20vw;
                margin: 5vw 0;
            }

            .blur {
                width: 100%;
                height: 100%;
                position: absolute;
                filter: blur(.5vw);
                border-radius: 10vw;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                @media (max-width: 768px) {
                    filter: blur(1.5vw);
                }

                .shadowColor {
                    width: 100%;
                    aspect-ratio: 1/1;
                    background: var(--conic-gradient);
                    animation: spin 3s infinite linear;
                }
            }

            .box {
                width: calc(100% - .8vw);
                height: calc(100% - .8vw);
                position: absolute;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                overflow: hidden;
                border-radius: 10vw;
                box-shadow: .1vw .1vw .5vw #0005;
                @media (max-width: 768px) {
                    width: calc(100% - 2vw);
                    height: calc(100% - 2vw);
                    box-shadow: .2vw .2vw 1vw #0005;
                }
                .border {
                    position: absolute;
                    width: 110%;
                    aspect-ratio: 1/1;
                    background: var(--conic-gradient);
                    animation: spin 3s infinite linear;
                    filter: blur(5px);
                }
                .boxTxt {
                    position: absolute;
                    background-color: black;
                    width: calc(100% - 1vw);
                    height: calc(100% - 1vw);
                    border-radius: 10vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 768px) {
                        width: calc(100% - 2.5vw);
                        height: calc(100% - 2.5vw);
                    }
                    .text {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition-duration: .3s;
                        p {
                            font-family: "Poppins", sans-serif;
                            color: #ffffff;
                            font-weight: 300;
                            line-height: 1;
                            font-size: 1.8vw;
    
                            @media (max-width: 768px) {
                                font-size: 5.5vw;
                            }
        
                            span {
                                color: #FFFFFF;
                            }
        
                            sup {
                                font-size: 2.2vw;
                                opacity: 0;
                                @media (max-width: 768px) {
                                    font-size: 5.5vw;
                                }
                            }
        
                            b {
                                font-weight: 600;
                                font-size: 6vw;
                                position: relative;
                                @media (max-width: 768px) {
                                    font-size: 14vw;
                                }
                                &::after {
                                    content: '*';
                                    width: 1rem;
                                    height: 1rem;
                                    position: absolute;
                                    top: 1.8vw;
                                    right: .4vw;
                                    font-size: 2.2vw;
                                    font-weight: 300;
                                    @media (max-width: 768px) {
                                        top: 4.2vw;
                                        right: -1vw;
                                        font-size: 5.5vw;
                                    }
                                }
                            }
                        }
                        &:hover {
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }

        // a {
        //     text-decoration: none;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     position: relative;
        //     z-index: 1;

        //     @media (max-width: 768px) {
        //         min-width: 70vw;
        //         height: 20vw;
        //         margin: 5vw 0;
        //     }

        //     .border-bw-shadow {
        //         width: 100%;
        //         height: 100%;
        //         position: relative;
        //         background-image: linear-gradient(#00E9FF, #00FFDC);
        //         border-radius: 30vw;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         box-shadow: 0 0 .5vw #0004;
        //         background-size: 100%;

        //         &::before {
        //             content: "";
        //             width: 103%;
        //             height: 110%;
        //             position: absolute;
        //             z-index: -1;
        //             border-radius: 30vw;
        //             background-image: linear-gradient(#00E9FF, #00FFDC);
        //             animation: gradient 1s linear infinite alternate;
        //             @media (max-width: 768px) {
        //                 width: 105%;
        //                 height: 112%;
        //                 animation: gradientMobile 1s linear infinite alternate;
        //             }

        //             @keyframes gradientMobile {
        //                 0% {
        //                     filter: blur(.4vw);
        //                 }
        //                 100% {
        //                     filter: blur(2vw);
        //                 }
        //             }

        //             @keyframes gradient {
        //                 0% {
        //                     filter: blur(.4vw);
        //                 }
        //                 100% {
        //                     filter: blur(.7vw);
        //                 }
        //             }
        //         }

        //     }

        //     .box {
        //         width: calc(100% - .6vw);
        //         height: calc(100% - .6vw);
        //         border-radius: 30vw;
        //         position: absolute;
        //         z-index: 1;
        //         background-color: #000000;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         @media (max-width: 768px) {
        //             width: calc(100% - 2vw);
        //             height: calc(100% - 2vw);
        //         }
        //         .boxTxt {
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //             transition-duration: .3s;
        //             p {
        //                 font-family: "Poppins", sans-serif;
        //                 color: #ffffff;
        //                 font-weight: 300;
        //                 line-height: 1;
        //                 font-size: 1.8vw;
        //                 @media (max-width: 768px) {
        //                     font-size: 5.5vw;
        //                 }
    
        //                 span {
        //                     color: #00E9FF;
        //                 }
    
        //                 sup {
        //                     font-size: 2.2vw;
        //                     opacity: 0;
        //                     @media (max-width: 768px) {
        //                         font-size: 5.5vw;
        //                     }
        //                 }
    
        //                 b {
        //                     font-weight: 600;
        //                     font-size: 6vw;
        //                     position: relative;
        //                     @media (max-width: 768px) {
        //                         font-size: 14vw;
        //                     }
        //                     &::after {
        //                         content: '*';
        //                         width: 1rem;
        //                         height: 1rem;
        //                         position: absolute;
        //                         top: 1.8vw;
        //                         right: .4vw;
        //                         font-size: 2.2vw;
        //                         font-weight: 300;
        //                         @media (max-width: 768px) {
        //                             top: 4.2vw;
        //                             right: -1vw;
        //                             font-size: 5.5vw;
        //                         }
        //                     }
        //                 }
        //             }
        //         }

        //     }

        //     &:hover {
        //         .box {
        //             .boxTxt {
        //                 transform: scale(1.04);
        //             }
        //         }
        //     }
        // }
    }
}