mixin newcluster()
    //- img(src="https://dafitistatic.dafiti.com.br/cms/black-dafiti/2024_10_21_14_51_40_Group_26651501.png", alt="")

    .section-title
        h2 <i>Aproveite</i> as ofertas
    .newCluster
        .flexBox
            a(href="")
                .border-bw-shadow
                .box
                    p até <span>R$</span>
                    p <span><b>99</b>*</span>
            a(href="")
                .border-bw-shadow
                .box
                    p até <span>R$</span>
                    p <span><b>199</b>*</span>
            a(href="")
                .border-bw-shadow
                .box
                    p a partir de <span>R$</span>
                    p <span><b>199</b>*</span>
